* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 3fr .5fr;
}

header {
  background: #FF9B42;
  text-align: center;
  h1 {
    color: #fff;
    font-size: 80pt;
  }
  h2 {
    color: #4A5043;
    font-size: 20pt;
    span {
      text-decoration: line-through;
    }
  }
}

main {
  .item-details {
    position: absolute;
    padding: 50px;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 30;
    color: #fff;
    background: #22251F;
    h2 {
      font-size: 20pt;
    }
    p {
      font-size: 16pt;
    }
  }
  .item-details.none {
    display: none;
  }
  .item-form {
    position: absolute;
    background: #22251F;
    z-index: 30;
    padding: 50px;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .close {
      align-self: flex-end;
      color: #999;
      cursor: pointer;
      &:hover {
        color: #fff;
      }
    }
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      input,
      button,
      select,
      option {
        font-size: 20pt;
        border: 3px solid #6A6F65;
        margin: 10px;
        padding: 10px;
      }
      .add-item-btn {
        margin-left: 50px;
        color: #6A6F65;
        background: #999;
        cursor: pointer;
        &:hover {
          color: #fff;
        }
      }
    }
  }
  .item-form.none {
    display: none;
  }
  .garages {
    height: 100%;
    display: flex;
    justify-content: space-around;
    .garage {
      width: 33%;
      height: 400px;
      background: #6A6F65;
      border: 40px inset #22251F;
      border-bottom: none;
      align-self: flex-end;
      position: relative;

      display: grid;
      grid-template-rows: 1fr 1fr 1fr .2fr;
      grid-template-columns: 1fr 1fr 1fr;
      .shelves {
        border-bottom: 4px solid black;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        box-shadow: 0 0 10px 0 #22251f;
        .item-name {
          cursor: pointer;
          text-align: center;
          &:hover {
            color: #fff;
            font-size: 16pt;
          }
        }
      }
      .garage-door {
        background: linear-gradient(#22251F, #74471E, #FF9B42, #74471E, #22251F, #74471E, #FF9B42, #74471E, #22251F, #74471E, #FF9B42, #74471E, #22251F, #74471E, #FF9B42, #74471E, #22251F, #74471E, #FF9B42, #74471E, #22251F, #74471E, #FF9B42, #74471E);
        height: 400px;
        position: absolute;
        top: -30px;
        left: -30px;
        margin: 0 auto;
        right: -30px;
        cursor: pointer;
        transition: all .6s ease-out;
      }
      .garage-door.open {
        top: -35px;
        height: 10px;
      }
      .garage-name {
        font-size: 16pt;
        border: 10px solid #6A6F65;
        background: #999;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -100px;
        left: -10px;
        margin: 0 auto;
        right: -10px;
        span {
          font-size: 12pt;
        }
      }
      .counts-container {
        grid-column: 1 / 4;
        background: #74471E;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        p {
          color: #fff;
        }
      }
      .add-item {
        position: absolute;
        bottom: -50px;
        right: 0;
        margin: 0 auto;
        left: 0;
        color: #999;
        font-size: 16pt;
        text-align: center;
        cursor: pointer;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

footer {
  background: #4A5043;
}