* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 3fr .5fr; }

header {
  background: #FF9B42;
  text-align: center; }
  header h1 {
    color: #fff;
    font-size: 80pt; }
  header h2 {
    color: #4A5043;
    font-size: 20pt; }
    header h2 span {
      text-decoration: line-through; }

main .garages {
  height: 100%;
  display: flex;
  justify-content: space-around; }
  main .garages .garage {
    width: 33%;
    height: 400px;
    background: #6A6F65;
    border: 40px inset #22251F;
    border-bottom: none;
    align-self: flex-end;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr .1fr;
    grid-template-columns: 1fr 1fr 1fr; }
    main .garages .garage .shelves {
      border-bottom: 4px solid black;
      grid-column: 1 / 4;
      box-shadow: 0 0 10px 2px #22251f; }
    main .garages .garage .shelf-1 {
      grid-row: 1; }
    main .garages .garage .shelf-2 {
      grid-row: 2; }
    main .garages .garage .shelf-3 {
      grid-row: 3; }
    main .garages .garage .garage-door {
      background: linear-gradient(#22251F, #74471E, #FF9B42, #74471E, #22251F, #74471E, #FF9B42, #74471E, #22251F, #74471E, #FF9B42, #74471E, #22251F, #74471E, #FF9B42, #74471E, #22251F, #74471E, #FF9B42, #74471E, #22251F, #74471E, #FF9B42, #74471E);
      height: 400px;
      position: absolute;
      top: -30px;
      left: -30px;
      margin: 0 auto;
      right: -30px;
      cursor: pointer;
      transition: all .6s ease-out; }
    main .garages .garage .garage-door.open {
      top: -35px;
      height: 10px; }
    main .garages .garage .garage-name {
      font-size: 16pt;
      border: 10px solid #6A6F65;
      background: #999;
      padding: 5px;
      text-align: center;
      position: absolute;
      top: -90px;
      left: -10px;
      margin: 0 auto;
      right: -10px; }

footer {
  background: #4A5043; }
